# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
nodimus-memory

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when run with the
# -o option
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Log files
*.log
audit/nodimus.log

# OS-specific files
.DS_Store
._*
Thumbs.db
